<include file="Public/head" />
<div class="mycenter_con" <?php if(!is_mobile()):?>style='width: 26%;margin: auto;' <?php endif?>>
<div class="background" style="display: none;z-index: 99;<?php if(!is_mobile()):?>width: 26%;margin: auto;<?php endif?>" id="background" onclick="disbg()"></div>
<div class="moneyshow" style="display: none;z-index: 100;overflow: hidden;<?php if(!is_mobile()):?>width: 26%;margin: auto;<?php endif?>" id="moneyshow">
</div>
<div class="img_head">
    <div class="mycenter_head" style="background-color: #fff">
        <img src="{$user_info['headimg']}" style="width: 100%;height: 100%;border-radius: 100px;">
        <p>
            {$user_info['name']}
        </p>
        <a href="{:U('Center/signdown')}" class="sign">签到</a>
    </div>
</div>
<div class="index_list">
    <p class="mycenter_headp">
        管理.员工登录
    </p>
    <a href="{:U('Login/salelogin')}" class="a_goin">入口</a>
</div>
<div class="index_list">
    <p class="mycenter_headp">
        我的金聚财富
    </p>
</div>
<div class="index_list">
    <img src="{$Think.const.HOME_URL}/images/03.png" class="mycenter_ico">
    <p class="info"><span class="idcard">账号：</span><span style="    display: inline-block;height: 55px;line-height: 55px;">{$user_info['iphone']}</span></p>
</div>
<div class="index_list">
    <img src="{$Think.const.HOME_URL}/images/04.png" class="mycenter_ico">
    <p class="info"><span class="idcard">分享码：</span><span style="    display: inline-block;height: 55px;line-height: 55px;">{$user_info['pid']}</span></p>
    <p class="tip">(默认手机后六位)</p>
</div>
<div class="index_list">
    <img src="{$Think.const.HOME_URL}/images/05.png" class="mycenter_ico">
    <p class="info"><span class="idcard">总积分：{$user_info['credits']+$user_info['all']}</span>
        <span onclick="lookjf();" class="but_a">如何赚积分</span></p>
</div>
<div class="index_list">
    <img src="{$Think.const.HOME_URL}/images/06.png" class="mycenter_ico">
    <p class="info"><span class="idcard">可用积分：{$user_info['credits']}</span>
    </p>
    <p class="tip">(100积分=人民币1元)</p>
</div>
<div class="index_list" style="text-align: center;">
    <span class="list_a"  style="background-color: #818181" onclick="alert('即将为您呈现,积分超值兑换多款商品，可全额积分兑换。')">兑换商品</span>
    <span onclick="showbg();" class="list_a">申请提现</span>
    <span  class="list_a" style="background-color: #818181"  onclick="alert('支付抵现,即将为您做到,积分当现金使用，全额积分支付抵扣，不足可微信合并支付余额')">支付抵现</span>
    <span  class="list_a" style="background-color: #818181"  onclick="alert('积分生金,即将为您增值,10000积分起倍数整存，期限为12个月，每万积分每天增值1.88积分')">积分生金</span>
</div>
<div class="index_list">
    <img src="{$Think.const.HOME_URL}/images/12.png" class="mycenter_ico">
    <p class="info"><span class="idcard">签到：</span>
        <a href="{:U('Center/signdown')}" class="but_a">签到</a></p>
</div>
<div class="index_listbut">
    <p class="info"><span class="idcard" style="font-size: 12px">累计<span style="color: blue;font-size: 16px">{$user_info['num']}</span>人在帮你赚积分,邀请他一起来吧！</span>
        <a href="{:U('Mycenter/qrcodeimg')}" class="but_ap">邀请</a></p>
</div>
<?php if($user_info['status']!=1):?>
<div class="index-sub">
    <a href="{:U('Paint/changestatus')}" onclick="return confirm('确定要提交申请吗？')">
        <input type="button" style="margin-top:35px" class="index-submit" value="申请分销">
    </a>
</div>
<?php endif?>
</div>
<script type="text/javascript" src="{$Think.const.ADMIN_URL}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var thenew = '{$new}';
        // var order_num = '{$order_num}';
        // if(order_num!=0){
        //     alert('您有'+order_num+'个订单待处理');
        // }
        if (thenew != '') {
            var jsonobj = eval('(' + thenew + ')');
            $("body").addClass('hidden_body');
            for (var i = 0; i < jsonobj.length; i++) {
                console.log(jsonobj[i].id);
                $('#background').show();
                html = "<div style='padding: 10px;font-size: 12px;'><p style='font-size: 14px;color: #000;'>" + jsonobj[i].tittle + "</p><p>" + jsonobj[i].content + "</p><div style='text-align:center'><form action='" + "{:U('Mycenter/reform')}" + "' method='post' id='form-reform'><input type='text' name='new_id' style='display:none' value='" + jsonobj[i].id + "'/><textarea placeholder='请输入交流内容' name='content' id='recontent' style='width:80%;margin:auto;height:50px;'></textarea></div></div><div><input type='button' class='reform reform_submit' style='float:left' value='交流'><input type='button' onclick='disbg()' class='goback' style='float:left' value='关闭'></form></div>";
                $('#moneyshow').html(html);
                $('#moneyshow').show();
            }
        }
    })

    function showbg() {
        $('#background').show();
        $("body").css("over-flow", 'hidden');
        var credits ="{$user_info['credits']}";
        var html = "<form action='" + "{:U('Center/tomoney')}" + "' method='post' id='form-product'><div class='moneylist' style='margin-top: 33%;'><p style='line-height:30px'>可用积分："+credits+"</p>提现积分：<input type='text' name='number' style='width: 34%;border: 0px;border-bottom: 1px solid #ccc;' id='credits' onkeyup='chanmoney(this.value)'/></div><div class='moneylist'>折算金额：<span class='count_con' id='money_con'></span></div><div class='moneysub'><input type='button' value='提交审核' onclick='appmon()'  class='sub center_sub'/><div style='width: 100%;text-align: center;'><input type='button' onclick='disbg()' class='goback' style='width: 39px;background-color: #981306;margin: auto;color: #fff;border: 0px;height: 23px;float: none;margin-top: 30px' value='关闭'></div></form>";
        $('#moneyshow').html(html);
        $('#moneyshow').show();
    }

    function disbg() {
        $('#background').hide();
        $("body").remove('hidden_body');
        $('#moneyshow').hide();
    }

    function lookjf() {
        $('#background').show();
        $("body").css("overflow-y", 'hidden');
        var html = "<div style='padding: 10px;font-size: 12px;'><p style='font-size: 14px;color: #000;'>如何赚积分：</p><p>1、天天签到积分赚不停；</p><p>2、分享我们产品给有需要的朋友兄弟姐妹；</p><p>3、分享图文到微信朋友圈赚积分（自愿为原则）！</p><p>签到积分规则：</p><p>每天只计一次，首次签到送100积分，第一天10积分，第二天20积...第五天50积分，第六，七，八...天每天50积分，若中间停签到则又算第一天开始计签到积分。</p><div style='width: 100%;text-align: center;'><input type='button' onclick='disbg()' class='goback' style='width: 39px;background-color: #981306;margin: auto;color: #fff;border: 0px;height: 23px;float: none;margin-top: 30px' value='关闭'></div></div>";
        $('#moneyshow').html(html);
        $('#moneyshow').show();
    }

    function lookjl() {
        $('#background').show();
        $("body").css("overflow-y", 'hidden');
        var html = "<div style='padding: 10px;font-size: 12px;'><p style='font-size: 14px;color: #000;'>分销合作奖励制度：</p>分销合作奖励制度：<p>签订分销合作合同<p/><p>需一次性订货金额满5000元+，成为分销商，公司一次性鼓励金奖你1500元同型号货品，<p/><p>需一次性订货金额满10000元+，成为分销商，公司一次性鼓励金奖你5000元同型号货品，<p/><p>年销售额≥50000元，公司奖励2%<p/><p>年销售额≥100000元，公司奖励3%<p/><p>年销售额≥200000元，公司奖励5%<p/><p>广告、宣传物料支持<p/><p>销售政策全城联动<p/></br><p style='font-size: 14px;color: #000;'>代销合作制度：<p/><p>签订代销合作合同<p/><p>广告、宣传物料支持<p/><p>有申请分销资格<p/><p>销售政策全城联动<p/><div style='width: 100%;text-align: center;'><input type='button' onclick='disbg()' class='goback' style='width: 39px;background-color: #981306;margin: auto;color: #fff;border: 0px;height: 23px;float: none;margin-top: 30px' value='关闭'></div></div>";
        $('#moneyshow').html(html);
        $('#moneyshow').show();
    }

    function chanmoney(mon) {
        var txt = (mon * 0.01).toFixed(2);
        var credits = $('#credits').val();
        if (credits == '') {
            alert('提现积分不能为空');
            return;
        }
        $('#money_con').html(txt);
    }

    function appmon() {
        // alert('12323');
        var credits = $('#credits').val();
        if (credits == '') {
            alert('提现积分不能为空');
            return;
        }
        if (!(checkNumber(credits))) {
            alert('提现积分必须为数字');
            return;
        };
        $('#form-product').submit();
    }
    $(function() {
        $(".reform_submit").click(function() {
            var recontent = $('#recontent').val();
            if (recontent == '') {
                alert('请填写回复内容');
                return;
            }
            $('#form-reform').submit();
        })
    })

    function checkNumber(theObj) {
        var reg = /^[0-9]+.?[0-9]*$/;
        if (reg.test(theObj)) {
            return true;
        }
        return false;
    }
</script>