<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>金聚云</title>
    <link href="{$Think.const.ADMIN_CSS_URL}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{$Think.const.ADMIN_CSS_URL}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="{$Think.const.ADMIN_CSS_URL}/animate.min.css" rel="stylesheet">
    <link href="{$Think.const.ADMIN_CSS_URL}/style.min862f.css?v=4.1.0" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS_URL}/common.css">
    <script type="text/javascript" href="{$Think.const.HOME_JS_URL}/fontSize.js"></script>
</head>

<body style="background-color: #fff;">
<div class="head">
    <a href="{:U('Task/showlist')}"><img src="{$Think.const.HOME_IMG_URL}/07.png" alt="" style="    width: 10px;position: absolute;margin: 6px;"></a>
    <p style="float: left;width: 100%">
        {$tittle}
    </p>
    <div style="float: right;position: absolute;right: 3px">
        <a href="{:U('Task/adddaylog',array('task_id'=>encoded($data['task_id'])))}"><p style="float: left;
    width: 100%;
    background-color: #139332;
    border-radius: 6px;
    font-size: 13px;
    margin-top: 3px;    line-height: 25px;
    height: 26px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    /* font-weight: bold; */
    font-family: Microsoft YaHei;
    width: 62px;">写日志</p></a>
    </div>
</div>
<div class="mycenter_con" style="background-color: #fff;<?php if(!is_mobile()):?>width: 26%;margin: auto; <?php endif?>">
    <div class="task_con">
        <div class="task_list">
            <p class="float_l task_title">客户名称</p>
            <p class="float_r task_input">{$data['task_user']}</p>
        </div>
        <div class="task_list">
            <p class="float_l task_title">客户地址</p>
            <p class="float_r task_input">{$data['task_address']}</p>
        </div>
        <div class="task_list">
            <p class="float_l task_title">客户电话</p>
            <p class="float_r task_input">{$data['task_phone']}</p>
        </div>
        <div class="task_list">
            <p class="float_l task_title">任务介绍</p>
            <p class="float_r task_text" style="height: auto">{$data['task_intro']}</p>
        </div>
        <div class="daylog_con">
            <?php foreach($data['data'] as $k=>$v):?>
            <div class="daylog_list">
                <div class="daylog_head">
                    <img src="{$Think.const.HOME_IMG_URL}/<?php if($v['daylog_status']==1):?>doing.png<?php elseif($v['daylog_status']==2):?>parse.png<?php else:?>done.png<?php endif?>" alt="">
                    <div class="dayloy_time float_r" <?php if($k==0):?>style="border-left: 0px"<?php endif?>>
                        <p><span class="float_l">{$v['daylog_time']|date='Y/m/d',###}</span> <span class="float_r task_status"><?php if($v['daylog_status']==1):?>服务中<?php elseif($v['daylog_status']==2):?>已暂停<?php else:?>已结束<?php endif?></span></p>
                    </div>
                    <div class="daylog_txtcon float_r">
                        <p>
                            {$v['daylog_intro']}
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="daylog_content"></div>
            </div>
            <?php endforeach?>
        </div>
    </div>
</div>
</body>
</html>