<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="{$Think.const.ADMIN_CSS_URL}/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.ADMIN_CSS_URL}/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.ADMIN_CSS_URL}/style.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.ADMIN_URL}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{$Think.const.ADMIN_URL}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<title>列表</title>
<style>
    #DataTables_Table_0_wrapper img{height: 100px;}
    td{
      text-align: center;
    }
</style>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span><a href="{:U('Auth/showlist')}">权限管理</a><span class="c-gray en">&gt;</span>修改权限
<a href="{:U('Auth/add')}"><input type="button" class="btn btn-primary radius" value="添加权限" style="float: right;line-height:1.6em;margin-top:3px;margin-right: 4px"></a>
<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="<?php echo U('Auth/add')?>" method="post" enctype="multipart/form-data">
            <input type="hidden" name='auth_id' value="{$de_con[0]['auth_id']}" />
            <table border="1" width="100%" class="table table-border table-bordered radius table-hover" >
                <tr>
                    <td>权限名称</td>
                    <td><input type="text" name="auth_name" value="{$de_con[0]['auth_name']}" class="input-text radius size-M"/></td>
                </tr>
                <tr>
                    <td>权限图标</td>
                    <td><input type="text" name="auth_pic" value="{$de_con[0]['auth_pic']}" class="input-text radius size-M"/></td>
                </tr>
                <tr>
                    <td>权限父级</td>
                    <td>
                        <select name='auth_pid' class="select-box">
                            <option value='0'>顶级权限</option>
                            <?php foreach ($info as $k=>$v):?>
                                <?php if($v['auth_id'] == $de_con[0]['auth_pid']):?>
                                <option value="{$v['auth_id']}" selected="selected">{$v['auth_name']}</option>
                                <?php else :?>
                                <option value="{$v['auth_id']}">{$v['auth_name']}</option>
                                <?php endif ?>
                            <?php endforeach ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>权限控制器</td>
                    <td><input type="text" name="auth_c" value="{$de_con[0]['auth_c']}" class="input-text radius size-M"/></td>
                </tr>
                <tr>
                    <td>权限操作方法</td>
                    <td><input type="text" name="auth_a" value="{$de_con[0]['auth_a']}" class="input-text radius size-M"/></td>
                </tr>
                
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" value="修改" name='modif' class="btn btn-primary radius">
                    </td>
                </tr>
            </table>
            </form>
        </div>
</body>
</html>